@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/_utilities";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/_media";
@import "node_modules/bootstrap/scss/_buttons";

.home-background {
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
    
.home-banner {
        margin-top: 50px;
}