// Bootstrap
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/_utilities";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/_buttons";
@import 'node_modules/bootstrap/scss/_modal';
@import 'node_modules/bootstrap/scss/_forms';

// modal
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

.modal-overlay {
  position: fixed;
  z-index: -1;
  cursor: default;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}